/*
** Created by Benjamin Piouffle on 20/02/2015
** For use on benjaminpiouffle.com
*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 180px;
}

h1 {
    font-family: "Arvo", "Arial", serif;
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Arvo", "Arial", serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #333;
    margin: 0 0 50px 0;
    padding: 0;
    text-decoration: underline;
    text-shadow: 1px 1px 0px #abaaaa;
}

h3 {
    font-family: Oswald, "Arial", serif;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

h4 {
    font-family: Oswald, "Arial", serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

a {
    color: #2c91c3;
}

a:hover {
    color: #00a9ff;
}

.text-center {
    text-align: center;
}

.parallax {
    background: whitesmoke;
}

.content {
    margin: 0 auto;
    width: 960px;
}

.hidden {
    display: none;
}

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #999;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header {
    width: 100%;
    background-color: rgba(72, 100, 139, 0);
    height: 78px;
    padding-top: 2px;
    position: fixed;
    z-index: 1000;
    -webkit-transition: background-color 0.75s, box-shadow 0.75s;
    -moz-transition: background-color 0.75s, box-shadow 0.75s;
    -ms-transition: background-color 0.75s, box-shadow 0.75s;
    -o-transition: background-color 0.75s, box-shadow 0.75s;
    transition: background-color 0.75s, box-shadow 0.75s;
}

#header.fixed {
    background-color: rgb(35, 126, 173);
    background-color: linear-gradient(to right, rgba(35,127,173,1) 10%, hsl(200, 66%, 52%) 25%, rgba(35,127,173,1) 79%, rgba(35,127,173,1) 83%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 0.5s, box-shadow 0.5s;
    -moz-transition: background-color 0.5s, box-shadow 0.5s;
    -ms-transition: background-color 0.5s, box-shadow 0.5s;
    -o-transition: background-color 0.5s, box-shadow 0.5s;
    transition: background-color 0.5s, box-shadow 0.5s;
}

#navContainer {
    height: 100%;
    float: right;
}

#nav {
    height: 100%;
}

#responsiveMenuContainer {
    display: none;
}

#logo h1 {
    color: #fff;
    text-decoration: none;
    float: left;
    font-size: 30px;
    margin-top: 20px;
    font-family: "Wellfleet", serif;
    font-weight: bold;
    text-shadow: 0 1px 2px #373737;
}

#logo #profilePicture {
    margin-top: 8px;
    margin-right: 10px;
}

#nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin-top: 19px;
}

#menu {
    height: 100%;
}

#nav li {
    margin-top: 9px;
    float: left;
}

#menu li:not(:first-child) {
    margin-left: 21px;
}

#menuScrollProgress {
    position: relative;
    width: 0;
    height: 3px;
    background-color: white;
    float: left;
    -webkit-transition: width 0.3s, left 0.2s;
    -moz-transition: width 0.3s, left 0.2s;
    -ms-transition: width 0.3s, left 0.2s;
    -o-transition: width 0.3s, left 0.2s;
    transition: width 0.3s, left 0.2s;
    border: 1px solid lightgrey;
}

#nav li a {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Wellfleet', serif;
}

#nav li a.active {
    color: #fff;
    opacity: 1;
}

#nav li a:hover {
    color: #fff;
    opacity: 1;
}

.description {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 26px;
    text-align: left;
}

.slide .experienceBlock:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.experienceBlock .experienceLogo {
    float: right;
    max-width: 100%;
    max-height: 85px;
    max-width: 250px;
}

.experienceTitle {
    font-size: 29px;
}

.experienceTitle .timePeriod {
    border-bottom: 1px solid rgb(195, 195, 195);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
** SLIDES
*/

.slide {
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    padding-top: 8vh;
    padding-bottom: 10vh;
    min-height: 82vh;
}

.slide .content {
    margin: 60px auto 0 auto;
    color: #555;
}

#slide-presentation .content {
    margin: 120px auto 0 auto;
    background-color: whitesmoke;
    padding: 60px 65px 45px 65px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px #80756e inset;
}

#slide-presentation .description {
    font-size: 28px;
    padding: 0 16px;
}

#slide-presentation {
    background: url('../img/slide-presentation.jpg') 50% 0 no-repeat fixed;
    color: #333333;
    margin: 0;
    background-size: cover;
}

#slide-education {
    background-color: whitesmoke;
    color: #333333;
    margin: 0 auto;
    overflow: hidden;
}

#slide-work {
    background: url('../img/slide-work.jpg') no-repeat fixed;
    background-position-x: 55%;
    background-size: cover;
}

#slide-work .content > .description {
    background-color: whitesmoke;
    padding: 60px 75px 45px 75px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #80756e /*inset*/;
}

#slide-skills {
    background-color: whitesmoke;
    color: #333333;
}

#slide-skills .description {
    text-align: center;
}

#slide-skills .skillLogo {
    height: 75px;
}

#slide-skills .description h3:not(:first-child) {
  margin-top: 25px;
}

#slide-projects {
    background: url('../img/slide-projects.jpg') no-repeat fixed;
    background-size: cover;
}

#slide-projects .project {
    text-align: center;
    border-radius: 3px;
    padding: 25px 35px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 20px 0px #80756e;
    background: whitesmoke;
}

#slide-projects .project img {
    width:45%;
}

#slide-projects .project.description p {
    text-align: left;
}

#slide-projects .project.description h3 a {
    font-size: 35px;
    text-shadow: 1px 2px 3px rgba(88, 0, 0, 0.26);
}

#slide-contact {
    background-color: whitesmoke;
    color: whitesmoke;
    padding-bottom: 8vh;
}

.skillText {
    min-height: 44px;
    min-width: 44px;
    display: inline-block;
    border: 1px solid gainsboro;
    line-height: 44px;
    padding: 16px;
    border-radius: 5px;
    vertical-align: top;
    margin: 0 2px;
}

#slide-contact .description_container {
    text-align: center;
}

#slide-contact .contactIcon {
    margin: 5px;
    height: 13%;
    width: 13%;
    min-height: 100px;
    min-width: 100px;
}

.row img {
    margin: 0 5px 0 5px;
}

.col {
    display: inline-block;
    margin: 0 15px 0 15px;
    vertical-align: top;
}

.col p {
    font-size: 24px;
    margin-top: 0;
}

.col h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(161, 161, 161);;
    padding: 0 7px 5px 7px;
}

@-webkit-keyframes focus {
    0% {
        -webkit-transform: scale(1.05);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.05);
    }
}

@-moz-keyframes focus {
    0% {
        -moz-transform: scale(1.05);
    }
    50% {
        -moz-transform: scale(1.1);
    }
    100% {
        -moz-transform: scale(1.05);
    }
}

@keyframes focus {
    0% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.05);
    }
}

#slide-contact .contactIcon:hover {
    -webkit-animation-name: focus;
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: focus;
    animation-duration: 1000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    moz-animation-name: focus;
    moz-animation-duration: 1000ms;
    moz-transform-origin: 50% 50%;
    moz-animation-iteration-count: infinite;
    moz-animation-timing-function: linear;
}

#contact_text {
    color: #B7B7B7;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    text-shadow: 0px 0px 0px #A0A0A0;
    font-family: "Arvo", "Arial", serif;
    height: 31px;
}
