/*
** Made by Benjamin Piouffle on 27/02/2015
** For use on benjaminpiouffle.com
*/

@media all and (max-width: 1124px) {
    .content {
        width: 95%;
    }

    #header .content {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }

    #header h1 {
        font-size: 26px;
        margin-top: 20px;
    }

    #logo #profilePicture {
        margin-top: 7px;
        height: 55px;
    }

    #nav {
        display: none;
        visibility: hidden;
    }

    .slicknav_menu {
        font-size: 19px;
        margin-top: 18px;
    }

    #navContainer .menuScrollProgress {
        display: none;
    }

    #responsiveMenuContainer {
        display: block;
    }

    #slide-presentation .content {
        padding: 3em 1em;
        width: 92%;
        height: 100%;
    }

    #slide-projects .project.description {
        padding: 2em 1em;
    }

    #slide-work .content > .description {
        background: none;
        padding: 0;
        border-radius: 0px;
        box-shadow: none;
    }
}

@media all and (max-width: 725px) {
    .experienceBlock .experienceLogo, .experienceBlock .timePeriod {
        display: block;
        float: none;
        margin: 0 auto 1em;
        text-align: center;
    }
}

@media all and (max-width: 465px) {
    .description {
        font-size: 22px;
    }

    #slide-presentation {
        padding-bottom: 0;
    }

    #slide-presentation .content {
        width: 100%;
        margin: 48px 0 0;
        border-radius: 0;
    }

    #slide-projects .project.description iframe {
        max-height: 223px;
    }
}

@media all and (max-width: 430px) {
    #logo #profilePicture {
        margin-top: 9px;
        height: 50px;
    }

    #header h1 {
        font-size: 16px;
        margin-top: 25px;
    }

    .slicknav_menu {
        font-size: 18px;
        margin-top: 18px;
    }

    .slicknav_nav {
        font-size: 20px;
    }
}

@media all and (max-width: 1124px) {
    .slicknav_menu {
        position: fixed;
        top: 70px;
        margin: 0;
        width: 100%;
        padding: 0;
        left: 0;
        border-radius: 0;
    }

    #header {
        background-color: rgb(72, 100, 139);
    }
}

@media all and (max-width: 230px) {
    #logo #profilePicture {
        display: none;
    }
}
