!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "true", :name => "HandheldFriendly"}
    %title Benjamin Piouffle
    -# CSS
    %link{:href => "css/slicknav.css", :rel => "stylesheet"}
    %link{:href => "css/style.css", :rel => "stylesheet"}
    %link{:href => "css/style_mobile.css", :rel => "stylesheet"}
    -# Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Wellfleet", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}
    -# Favicons
    %link{:href => "img/favicon/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "img/favicon/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "img/favicon/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "img/favicon/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "img/favicon/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "img/favicon/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "img/favicon/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "img/favicon/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "img/favicon/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "img/favicon/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "img/favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "img/favicon/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "img/favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
    %meta{:content => "img/favicon/ms-icon-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
  %body
    %header#header.fixed.noselect
      .content
        #logo
          %a{:href => "#slide1"}
            %img#profilePicture{:align => "left", :src => "img/benjaminpiouffle.png", :alt => "me"}
            %h1 Benjamin Piouffle
        #navContainer
          %nav#nav
            %ul#menu
              %li
                %a{:href => "#slide1"} About me
              %li
                %a{:href => "#slide2"} Education
              %li
                %a{:href => "#slide3"} Work
              %li
                %a{:href => "#slide4"} Skills
              %li
                %a{:href => "#slide5"} Projects
              %li
                %a{:href => "#slide6"} Interests
              %li
                %a{:href => "#slide7"} Contact
          #menuScrollProgress.hidden
          #responsiveMenuContainer
    .parallax
      #slide1.slide
        .content
          %h2 About me
          %p.description{:itemscope => "", :itemtype => "http://data-vocabulary.org/Person"}<
            My name is&nbsp
            %span{:itemprop => "name"}> Benjamin Piouffle
            \. I'm a French student recently graduated from the French school&nbsp
            %span{:itemprop => "affiliation"}<>
              %b Epitech
            \. I did my fourth year of scolarship abroad at
            %span{:itemprop => "affiliation"}
              %b
                California State University of
                %span{:itemprop => "address", :itemscope => "", :itemtype => "http://data-vocabulary.org/Address"}
                  %span{:itemprop => "locality"} Long Beach (USA)
            %span>. I'm currently living in Nouméa, New Caledonia.
            %br
            %br>
            %span>I have, along with my studies, worked as a&nbsp
            %span{:itemprop => "title"} developer
            in companies of various size, from the startup to the global company.
            %br
            %br
            %span>I love DIY, music and thinking about how technology could help us solving the crises that the world is facing.
      #slide2.slide
        .content
          %h2 Education
          .description_container
            .description
              .experienceBlock
                %img.experienceLogo{:src => "img/logo_epitech.png", alt: "Epitech"}
                .experienceTitle
                  %span.timePeriod October 2011 – Present
                  %br
                  %b Epitech
                  (France)
                %p
                  First year: C, UNIX systems, security, SQL
                  %br
                  Second year: C++, Web security, network
                  %br
                  Third year: Advanced C++, Java, business science
                  %br
                  Fifth year: Artificial intelligence, evolution programming, personal projects
              .experienceBlock
                %img.experienceLogo{:src => "img/logo_csulb-color.jpg", alt: "CSULB"}
                .experienceTitle
                  %span.timePeriod October 2014 – June 2015
                  %br
                  %b California State University of Long Beach
                  (USA)
                %p
                  First semester: English
                  %br
                  Second semester: Security, Java, Operating Systems, Web Design
              .experienceBlock
                .experienceTitle
                  %span.timePeriod July 2011
                  %br
                  %b Baccalauréat (French A level) with Honors
      #slide3.slide
        .content
          %h2 Work
          .description
            .experienceBlock
              %img.experienceLogo{:src => "img/factset.png", alt: "Factset"}
              .experienceTitle
                %span.timePeriod> September 2015 – September 2016
                %br
                %b Factset
                – Fullstack Developer
              %p
                Main technologies : C++, C#, Python
            .experienceBlock
              %img.experienceLogo{:src => "img/numvision.png", alt: "Numvision"}
              .experienceTitle
                %span.timePeriod> September 2013 – June 2014
                %br
                %b Numvision
                – Java / J2EE Developer
              %p
                Numvision is a company located in the south of France that provides files backup and synchronisation solutions for companies.
                My work mainly consisted of improving the main company's product “Numsync”, creating a REST API
                and automatizing the build of mobile applications.
                %br
                %br
                Main technologies : Java / J2EE, REST API, Android and IOS builds
            .experienceBlock
              %img.experienceLogo{:src => "img/efrogg.png", alt: "EFrogg"}
              .experienceTitle
                %span.timePeriod> July 2012 – December 2012
                %br
                %b E­Frogg
                – Web Developer Internship
              %p
                Internship at E­Frogg, a web agency. Development of a SEO analysis tool and work on various websites.
                %br
                %br
                Main technologies : HTML, Javascript, JQuery, PHP, MySQL
            %div{:style => "text-align:center;"}
              %button#btnExpandWorkExperiences.btn Show more work experience (Non IT related)
            #secondaryExperiences{:style => "display:none;"}
              .experienceBlock
                .experienceTitle
                  %span.timePeriod> August 2011 – September 2011
                  %br
                  %b Sanary­ City Hall
                  – Summer job
                %p
              .experienceBlock
                .experienceTitle
                  %span.timePeriod> January 2009 – May 2009
                  %br
                  %b Independent
                %p Computer lessons for individuals
              .experienceBlock
                .experienceTitle
                  %span.timePeriod> July – August 2008
                  %br
                  %b Mistral Diesel
                  – Inventory assistant
                %p
      #slide4.slide
        .content
          %h2 Skills
          .description
            %h3 Favorite Technologies
            %hr
            .col
              %h4 Software programming
              .row
                .skillText C / C++
                .skillText C#
            .col
              %h4 Scripting
              .row
                %img.skillLogo{:alt => "Python", :height => "75px", :src => "img/icons_skills/python.svg", :title => "Python"}
            .col
              %h4 Operating systems
              .row
                %img.skillLogo{:alt => "GNU/Linux", :height => "75px", :src => "img/icons_skills/gnulinux.png", :title => "GNU/Linux"}
                %img.skillLogo{:alt => "Windows", :height => "75px", :src => "img/icons_skills/windows.png", :title => "Windows"}
                %img.skillLogo{:alt => "Android", :height => "75px", :src => "img/icons_skills/android.png", :title => "Android"}
                %img.skillLogo{:alt => "Arduino", :height => "75px", :src => "img/icons_skills/arduino.png", :title => "Arduino"}
            .col
              %h4 Databases
              .row
                %img.skillLogo{:alt => "PostgreSQL", :height => "75px", :src => "img/icons_skills/postgresql.svg", :title => "PostgreSQL"}
                %img.skillLogo{:alt => "MongoDB", :height => "75px", :src => "img/icons_skills/mongodb.png", :title => "MongoDB"}
                %img.skillLogo{:alt => "MySQL", :height => "75px", :src => "img/icons_skills/mysql.svg", :title => "MySQL"}
            .col
              %h4 Web programming
              .row
                %img.skillLogo{:alt => "Ruby On Rails", :height => "75px", :src => "img/icons_skills/ruby-on-rails.png", :title => "Ruby On Rails"}
                %img.skillLogo{:alt => "HTML5", :height => "75px", :src => "img/icons_skills/html5.svg", :title => "HTML5"}
                %img.skillLogo{:alt => "HAML", :height => "75px", :src => "img/icons_skills/haml.png", :title => "HAML"}
                %img.skillLogo{:alt => "Coffeescript", :height => "75px", :src => "img/icons_skills/coffeescript.png", :title => "Coffeescript"}
            .col
              %h4 Tools
              .row
                %img.skillLogo{:alt => "Git", :height => "75px", :src => "img/icons_skills/git.png", :title => "Git"}
                %img.skillLogo{:alt => "Mercurial", :height => "75px", :src => "img/icons_skills/mercurial.png", :title => "mercurial"}
                %img.skillLogo{:alt => "Bitcoin", :height => "75px", :src => "img/icons_skills/bitcoin.png", :title => "Bitcoin"}
            .col
              %h4 Others
              .row
                .skillText Restful APIs
                .skillText Agile software development
            %br
            %br
            %h3 Languages
            %hr
            .col
              .row
                .skillText French (native)
                .skillText English (fluent)
                .skillText Italian (basic)
      #slide5.slide
        .content
          %h2 Projects
          .project.description
            %h3
              %a{href: 'http://edzafilms.com'}Edzafilms.com
            %p
              A website to present “Edza Films”, a french audio-visual association with members such as film directors,
              sound engineers, cameramen and other folks I was happy to work with.
              The team can upload pictures, videos, post news and manage a lot of content directly from the website.
              %br
              %br
              Technologies : Ruby on Rails, HAML, SASS, Coffeescript
          .project.description
            %h3
              %a{href: 'https://github.com/Betree/magicblue'}Magic Blue bulb unofficial API
            %p
              Python script and library to control Magic Blue bulbs over Bluetooth. These are probably the cheapest RGB
              light bulbs you can find on the market but no official API exists and they're not documented anywhere.
              %br
              %br
              This open-source project consist of the reverse engineering work to bring all the features
              from the official mobile application in some easy to use and well documented Python scripts.
          .project.description.text-center
            More on
            %a{href: 'https://github.com/Betree'}
              Github
      #slide6.slide
        .content
          %h2 Interests
          .description_container
            .description
              %h3 Civic Tech
              %hr
              %p
                I'm deeply interested by the civic tech field; it is trying to change politics using technology the same
                way this technology changed our habits of sharing and consuming information.
                %br
                I really think technology has a role to play in social crisis facing most of today's governments, may
                it be with a better access to public debates or by giving citizens new channels to express their
                opinions.
              %h3 Music
              %hr
              .col
                %h4 Guitar
                %p
                  I've been playing guitar for many years now though keeping a routine is not always easy.
              .col
                %h4 Saxophone
                %p I played saxophone during two years when I was younger and I'm slowly getting back to it.
              %h3 Sport
              %hr
              %p Hikking, trekking, bicycling, motorcycling
      #slide7.slide
        .content
          %h2 Contact
          .description_container
            .row
              %a#contactFormButton.hidden_email{:href => "mailto:Please activate Javascript to see my real email"}<
                %img.contactIcon{:alt => "Email", :src => "img/icons_social/mail.png"}
                %img#contactIconExtension{:alt => "Email", :src => "img/icons_social/mailextended.png", :style => "display: none; margin-bottom: -4px;"}
            .row
              %a{:href => "http://stackoverflow.com/users/3584587/betree", :target => "_BLANK"}<
                %img.contactIcon{:alt => "Stackoverflow", :src => "img/icons_social/stackoverflow.png"}
              %a.hi-icon.hi-icon-effect-8{:href => "https://github.com/Betree", :target => "_BLANK"}<
                %img.contactIcon{:alt => "Github", :src => "img/icons_social/github.png"}
              %a{:href => "https://www.linkedin.com/in/benjaminpiouffle", :target => "_BLANK"}<
                %img.contactIcon{:alt => "Linkedin", :src => "img/icons_social/linkedin.png"}
            .row
              %a{:href => "https://plus.google.com/+BenjaminPiouffle", :target => "_BLANK"}<
                %img.contactIcon{:alt => "Google+", :src => "img/icons_social/googleplus.png"}
              %a{:href => "https://www.facebook.com/benjamin.piouffle", :target => "_BLANK"}<
                %img.contactIcon{:alt => "Facebook", :src => "img/icons_social/facebook.png"}
              %a{:href => "https://twitter.com/Betree83", :target => "_BLANK"}<
                %img.contactIcon{:alt => "Twitter", :src => "img/icons_social/twitter.png"}
            .row
              %a{:href => "http://www.lastfm.fr/user/Betree83", :target => "_BLANK"}<
                %img.contactIcon{:alt => "LastFM", :src => "img/icons_social/lastfm.png"}
              %a{:href => "https://soundcloud.com/betree", :target => "_BLANK"}<
                %img.contactIcon{:alt => "Soundcloud", :src => "img/icons_social/soundcloud.png"}
          #contact_text
      %script{:src => "js/jquery-2.1.3.min.js", :type => "text/javascript"}
      %script{:src => "js/jquery.slicknav.min.js", :type => "text/javascript"}
      %script{:src => "js/jquery.easing.1.3.js", :type => "text/javascript"}
      %script{:src => "js/main.js", :type => "text/javascript"}