/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:22px;
}
/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
    float: right;
    vertical-align: middle;
    margin-top: 11px;
    margin-right: 20px;
    background: rgba(34, 34, 34, 0.87);
    border-radius: 10px;
    /*
        Gradient color
    */
    background: -webkit-linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 0.95)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 0.95)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 0.95)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 0.95)); /* Standard syntax */
}
.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0px 0px 5px 0px;
    font-size:22px;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;
}
.slicknav_nav a.active{
    background-color: rgb(81, 81, 81);
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#fff;
}
.slicknav_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#222;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}
/*
** Created by Benjamin Piouffle on 20/02/2015
** For use on benjaminpiouffle.com
*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 180px;
}

h1 {
    font-family: "Arvo", "Arial", serif;
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Arvo", "Arial", serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #333;
    margin: 0 0 50px 0;
    padding: 0;
    text-decoration: underline;
    text-shadow: 1px 1px 0px #abaaaa;
}

h3 {
    font-family: Oswald, "Arial", serif;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

h4 {
    font-family: Oswald, "Arial", serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

a {
    color: #2c91c3;
}

a:hover {
    color: #00a9ff;
}

.text-center {
    text-align: center;
}

.parallax {
    background: whitesmoke;
}

.content {
    margin: 0 auto;
    width: 960px;
}

.hidden {
    display: none;
}

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #999;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header {
    width: 100%;
    background-color: rgba(72, 100, 139, 0);
    height: 78px;
    padding-top: 2px;
    position: fixed;
    z-index: 1000;
    -webkit-transition: background-color 0.75s, box-shadow 0.75s;
    -moz-transition: background-color 0.75s, box-shadow 0.75s;
    -ms-transition: background-color 0.75s, box-shadow 0.75s;
    -o-transition: background-color 0.75s, box-shadow 0.75s;
    transition: background-color 0.75s, box-shadow 0.75s;
}

#header.fixed {
    background-color: rgb(35, 126, 173);
    background-color: linear-gradient(to right, rgba(35,127,173,1) 10%, hsl(200, 66%, 52%) 25%, rgba(35,127,173,1) 79%, rgba(35,127,173,1) 83%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 0.5s, box-shadow 0.5s;
    -moz-transition: background-color 0.5s, box-shadow 0.5s;
    -ms-transition: background-color 0.5s, box-shadow 0.5s;
    -o-transition: background-color 0.5s, box-shadow 0.5s;
    transition: background-color 0.5s, box-shadow 0.5s;
}

#navContainer {
    height: 100%;
    float: right;
}

#nav {
    height: 100%;
}

#responsiveMenuContainer {
    display: none;
}

#logo h1 {
    color: #fff;
    text-decoration: none;
    float: left;
    font-size: 30px;
    margin-top: 20px;
    font-family: "Wellfleet", serif;
    font-weight: bold;
    text-shadow: 0 1px 2px #373737;
}

#logo #profilePicture {
    margin-top: 8px;
    margin-right: 10px;
}

#nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin-top: 19px;
}

#menu {
    height: 100%;
}

#nav li {
    margin-top: 9px;
    float: left;
}

#menu li:not(:first-child) {
    margin-left: 21px;
}

#menuScrollProgress {
    position: relative;
    width: 0;
    height: 3px;
    background-color: white;
    float: left;
    -webkit-transition: width 0.3s, left 0.2s;
    -moz-transition: width 0.3s, left 0.2s;
    -ms-transition: width 0.3s, left 0.2s;
    -o-transition: width 0.3s, left 0.2s;
    transition: width 0.3s, left 0.2s;
    border: 1px solid lightgrey;
}

#nav li a {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Wellfleet', serif;
}

#nav li a.active {
    color: #fff;
    opacity: 1;
}

#nav li a:hover {
    color: #fff;
    opacity: 1;
}

.description {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 26px;
    text-align: left;
}

.slide .experienceBlock:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.experienceBlock .experienceLogo {
    float: right;
    max-width: 100%;
    max-height: 85px;
    max-width: 250px;
}

.experienceTitle {
    font-size: 29px;
}

.experienceTitle .timePeriod {
    border-bottom: 1px solid rgb(195, 195, 195);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
** SLIDES
*/

.slide {
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    padding-top: 8vh;
    padding-bottom: 10vh;
    min-height: 82vh;
}

.slide .content {
    margin: 60px auto 0 auto;
    color: #555;
}

#slide-presentation .content {
    margin: 120px auto 0 auto;
    background-color: whitesmoke;
    padding: 60px 65px 45px 65px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px #80756e inset;
}

#slide-presentation .description {
    font-size: 28px;
    padding: 0 16px;
}

#slide-presentation {
    background: url('../img/slide-presentation.jpg') 50% 0 no-repeat fixed;
    color: #333333;
    margin: 0;
    background-size: cover;
}

#slide-education {
    background-color: whitesmoke;
    color: #333333;
    margin: 0 auto;
    overflow: hidden;
}

#slide-work {
    background: url('../img/slide-work.jpg') no-repeat fixed;
    background-position-x: 55%;
    background-size: cover;
}

#slide-work .content > .description {
    background-color: whitesmoke;
    padding: 60px 75px 45px 75px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #80756e /*inset*/;
}

#slide-skills {
    background-color: whitesmoke;
    color: #333333;
}

#slide-skills .description {
    text-align: center;
}

#slide-skills .skillLogo {
    height: 75px;
}

#slide-skills .description h3:not(:first-child) {
  margin-top: 25px;
}

#slide-projects {
    background: url('../img/slide-projects.jpg') no-repeat fixed;
    background-size: cover;
}

#slide-projects .project {
    text-align: center;
    border-radius: 3px;
    padding: 25px 35px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 20px 0px #80756e;
    background: whitesmoke;
}

#slide-projects .project img {
    width:45%;
}

#slide-projects .project.description p {
    text-align: left;
}

#slide-projects .project.description h3 a {
    font-size: 29px;
    text-shadow: 1px 2px 3px rgba(88, 0, 0, 0.26);
}

#slide-contact {
    background-color: whitesmoke;
    color: whitesmoke;
    padding-bottom: 8vh;
}

.skillText {
    min-height: 44px;
    min-width: 44px;
    display: inline-block;
    border: 1px solid gainsboro;
    line-height: 44px;
    padding: 16px;
    border-radius: 5px;
    vertical-align: top;
    margin: 0 2px;
}

#slide-contact .description_container {
    text-align: center;
}

#slide-contact .contactIcon {
    margin: 5px;
    height: 13%;
    width: 13%;
    min-height: 100px;
    min-width: 100px;
}

.row img {
    margin: 0 5px 0 5px;
}

.col {
    display: inline-block;
    margin: 0 15px 0 15px;
    vertical-align: top;
}

.col p {
    font-size: 24px;
    margin-top: 0;
}

.col h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(161, 161, 161);;
    padding: 0 7px 5px 7px;
}

@-webkit-keyframes focus {
    0% {
        -webkit-transform: scale(1.05);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.05);
    }
}

@-moz-keyframes focus {
    0% {
        -moz-transform: scale(1.05);
    }
    50% {
        -moz-transform: scale(1.1);
    }
    100% {
        -moz-transform: scale(1.05);
    }
}

@keyframes focus {
    0% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.05);
    }
}

#slide-contact .contactIcon:hover {
    -webkit-animation-name: focus;
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: focus;
    animation-duration: 1000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    moz-animation-name: focus;
    moz-animation-duration: 1000ms;
    moz-transform-origin: 50% 50%;
    moz-animation-iteration-count: infinite;
    moz-animation-timing-function: linear;
}

#contact_text {
    color: #B7B7B7;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    text-shadow: 0px 0px 0px #A0A0A0;
    font-family: "Arvo", "Arial", serif;
    height: 31px;
}

/*
** Made by Benjamin Piouffle on 27/02/2015
** For use on benjaminpiouffle.com
*/

@media all and (max-width: 1124px) {
    .content {
        width: 80%;
    }

    #header .content {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }

    #header h1 {
        font-size: 26px;
        margin-top: 23px;
    }

    #nav {
        display: none;
        visibility: hidden;
    }

    #navContainer .menuScrollProgress {
        display: none;
    }

    #responsiveMenuContainer {
        display: block;
    }

    #slide-presentation .content {
        padding: 50px 0;
        width: 92%;
        height: 100%;
    }

    #slide-work .content > .description {
        background: none;
        padding: 0;
        border-radius: 0px;
        box-shadow: none;
    }
}

@media all and (max-width: 1124px) {
    #logo #profilePicture {
        margin-top: 10px;
        height: 55px;
    }

    #header h1 {
        font-size: 22px;
        margin-top: 27px;
    }

    .slicknav_menu {
        font-size: 19px;
        margin-top: 18px;
    }
}

@media all and (max-width: 465px) {
    .description {
        font-size: 22px;
    }

    #slide-presentation {
        padding-bottom: 0;
    }

    #slide-presentation .content {
        width: 100%;
        margin: 48px 0 0;
        border-radius: 0;
    }
}

@media all and (max-width: 430px) {
    #logo #profilePicture {
        margin-top: 14px;
        height: 50px;
    }

    #header h1 {
        font-size: 16px;
        margin-top: 30px;
    }

    .slicknav_menu {
        font-size: 18px;
        margin-top: 18px;
    }

    .slicknav_nav {
        font-size: 20px;
    }
}

@media all and (max-width: 1124px) {
    .slicknav_menu {
        position: fixed;
        top: 70px;
        margin: 0;
        width: 100%;
        padding: 0;
        left: 0;
        border-radius: 0;
    }

    #header {
        background-color: rgb(72, 100, 139);
    }
}

@media all and (max-width: 230px) {
    #logo #profilePicture {
        display: none;
    }
}


/*# sourceMappingURL=app.css.map*/