---
import Card from "../Card.astro";
---

<Card id="about">
  <h1>Background</h1>
  <p>
    I was trained as a Software Engineer at the French school <strong
      >Epitech</strong
    >, graduated in 2016. I also studied one year abroad at the{" "}
    <strong>California State University of Long Beach (USA)</strong> in 2014-2015.
  </p>
  <p>
    I am currently working full-time as a CTO for the Open Finance Consortium, a
    nonprofit developing <a
      href="https://opencollective.com"
      target="_blank"
      rel="noopener noreferrer">Open Collective</a
    >, an open-source platform that helps communities achieve financial
    sustainability.
  </p>
  <p>
    Before that, I was the founder of <a
      href="https://captainfact.io"
      target="_blank"
      rel="noopener noreferrer">CaptainFact</a
    >, a French nonprofit organization developing open-source and collaborative,
    real-time fact-checking tools for citizens, media organizations, and
    educational institutions.
  </p>
  <p><strong>I am not available for hire at this time.</strong></p>
</Card>
